<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>https://api.triumpharcade.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-801438012284-ios-c2d5d170d2198670f7caf9</string>
			</array>
		</dict>
	</array>
	<key>Environment</key>
	<string>production</string>
	<key>IsAppVerificationDisabledForTesting</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>app-1-801438012284-ios-ee49e59a39df4d0bf7caf9</string>
		<string>app-1-801438012284-ios-4e2f605609e6196df7caf9</string>
		<string>app-1-801438012284-ios-fdea8e0efd136974f7caf9</string>
		<string>cydia</string>
	</array>
	<key>MinimumSupportedVersionNumber</key>
	<integer>22</integer>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>StorageURL</key>
	<string>gs://triumph-prod.appspot.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pixel.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
