<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>https://debug-api.triumpharcade.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-967969074570-ios-e1b46e6c899852296a6c73</string>
			</array>
		</dict>
	</array>
	<key>Environment</key>
	<string>debug</string>
	<key>IsAppVerificationDisabledForTesting</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>app-1-801438012284-ios-ee49e59a39df4d0bf7caf9</string>
		<string>app-1-801438012284-ios-4e2f605609e6196df7caf9</string>
		<string>app-1-801438012284-ios-fdea8e0efd136974f7caf9</string>
		<string>app-1-967969074570-ios-049171bf20b115d56a6c73</string>
		<string>cydia</string>
	</array>
	<key>MinimumSupportedVersionNumber</key>
	<integer>19</integer>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>StorageURL</key>
	<string>gs://triumph-debug.appspot.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pixel.ttf</string>
	</array>
</dict>
</plist>
