<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967969074570-2b5n4h2cv4i8v52tvq9l4uc8q7d84n0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967969074570-2b5n4h2cv4i8v52tvq9l4uc8q7d84n0a</string>
	<key>API_KEY</key>
	<string>AIzaSyA5TNe5nizS1C42q4tkWd80iA2dVgQXEao</string>
	<key>GCM_SENDER_ID</key>
	<string>967969074570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shyamkumar.TriumphInvaders</string>
	<key>PROJECT_ID</key>
	<string>triumph-debug</string>
	<key>STORAGE_BUCKET</key>
	<string>triumph-debug.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967969074570:ios:049171bf20b115d56a6c73</string>
	<key>DATABASE_URL</key>
	<string>https://triumph-debug-default-rtdb.firebaseio.com</string>
</dict>
</plist>