<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801438012284-7d3r50gtfvoioelqfbfm8e0k6115q30r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801438012284-7d3r50gtfvoioelqfbfm8e0k6115q30r</string>
	<key>API_KEY</key>
	<string>AIzaSyCNGdiaWf81LsgWe1MPh0pXHkYPz0n4sVM</string>
	<key>GCM_SENDER_ID</key>
	<string>801438012284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shyamkumar.TriumphInvaders</string>
	<key>PROJECT_ID</key>
	<string>triumph-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>triumph-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801438012284:ios:c2d5d170d2198670f7caf9</string>
	<key>DATABASE_URL</key>
	<string>https://triumph-prod-default-rtdb.firebaseio.com</string>
</dict>
</plist>